[submodule "extern/math"]
	path = extern/math
	url = https://github.com/ref2401/math.git
[submodule "extern/ts"]
	path = extern/ts
	url = https://github.com/ref2401/ts.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
